.container{
    background-color: antiquewhite;
    font-style: normal;
    font-size: 50px;
    width:1000px;
    
    
}

.header{
background-color: blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}